/* FONTS
=========================== */
@font-face {
    font-family: 'Chomsky';
    src: url('../fonts/Chomsky.otf') format('otf');
  }
  @font-face {
      font-family: 'helvetica';
      src: url()
  }
  
  
  /* GENERAL
  =========================== */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    font-family: 'chomsky';
    background-image: url(./images/3.jpg);
    background-position: center;
    color: #fff;
    overflow: hidden;
  }
  .shop-page {
    overflow: scroll;
    width: 100%;
    height: 100vh;
  }
  
  ul {
    list-style: none;
  }
  
  /* NAVBAR
  =========================== */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
  }
  
  .navbar .media li {
    display: inline-block;
    padding-left: 30px;
  }
  
  .navbar .media li a {
    color: #fff;
    text-decoration: none;
    text-transform: lowercase;
    font-family: 'Chomsky', sans-serif;
    font-size: 24px;
  }
  
  .navbar .menu i {
    padding-right: 20px;
  }
  
  
  /* BG TEXT
  =========================== */
  .bg-text {
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translate(-50%, -50%);
    
  }
  
  .bg-text h1 {
    font-family: "chomsky";
    font-size: 280px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px rgb(240, 57, 57);
    text-transform: lowercase;
    transform: rotate(-90deg);

  }
  .bg-text h1:hover {
    font-family: "chomsky";
    font-size: 280px;
    text-align: center;
    color: red;
    -webkit-text-stroke: 1px rgb(240, 57, 57);
    text-transform: lowercase;
    transform: rotate(-90deg);

  }
  
  /* SLIDER
  =========================== */
  .swiper-container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px 0;
    overflow: visible;
  }
  
  .swiper-wrapper {
    transition-delay: .5s;
  }
  
  .swiper-slide {
    width: 700px;
    height: 700px;
    background-color: black;
    
  }
  
  .swiper-slide:nth-child(1) .slide-img {
    background-image: url('./images/nuke.png');
  }
  .swiper-slide:nth-child(2) .slide-img {
    background-image: url('./images/amtes-1.PNG');
  }
  .swiper-slide:nth-child(3) .slide-img {
    background-image: url('./images/mates-5.PNG');
  }
  .swiper-slide:nth-child(4) .slide-img {
    background-image: url('./images/logo-mates.PNG');
  }
  .swiper-slide:nth-child(5) .slide-img {
    background-image: url('./images/mates-5a.png');
  }
  
  .slide-img {
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    z-index: -3;
  }
  
  .slide-img::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 0deg, rgb(179, 25, 25) 0%, rgb(2, 2, 2) 100%);
    mix-blend-mode: multiply;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s ease-in-out;
  }
  
  .slide-img:hover::after {
    opacity: .5;
  }
  
  .slide-number {
    position: absolute;
    top: -35px;
    right: -20px;
    z-index: 1;
    width: 210px;
    height: 210px;
    overflow: hidden;
    cursor: auto;
  }
  
  .slide-number p {
    font-size: 120px;
    color: transparent;
    position: relative;
    font-family: helvetica;
    font-weight: 800;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    

  }
  
  .slide-number p span {
    position: absolute;
  }
  
  .slide-text {
    position: absolute;
    cursor: pointer;
    bottom: 70px;
    left: -130px;
    z-index: 3;
    width: 900px;
    height: 100px;
    overflow: hidden;
    font-family: 'helvetica';
  }


  
  
  .slide-text h4 {
    color: transparent;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    -webkit-text-stroke: 1px white;
    transition: 1.3s ease-in-out;
  }
  .slide-text h4:hover {
    color: rgb(255, 255, 255);
    transition: 1.2s ease-in-out;
  }
  
  .slide-text h4 span {
    position: absolute;
    font-family: helvetica;
  }
  
  button {
    padding: 20px;
    background-color: rgb(0, 0, 0);
    
  }
  .logo {
    font-size: 86px;
    font-family: 'helvetica';
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px white;
    padding-top: 40px;
    margin-left: 760px;
    z-index: 2;
  }
  @media (max-width: 500px) {
    .logo {
      font-size: 90px;
    }
    .navbar .media li a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-family: Helvetica, sans-serif;
      font-size: 20px;
    }
    .media li a {
      visibility: hidden;
    }
    .logo {
      margin-left: 50px;
    }
    .slide-img {
      background-position: 50%;
      background-size: cover;
      position: absolute;
      top: 0%;
      left: 0%;
      z-index: -3;
      width: 400px;
      height: 400px;
    }
    .slide-text  {
      position: absolute;
      bottom: -70px;
      left: 0px;
      z-index: 1;
      width: 600px;
      height: 100px;
      overflow: hidden;
      font-family: 'helvetica';
    }
    .slide-text  h4{
      position: absolute;
      font-size: 30px;
      padding-right: 30px;
      bottom: -25px;
      left: 5px;
      z-index: 1;
      width: 600px;
      height: 100px;
      overflow: visible;
      font-family: 'helvetica';
    }
    .swiper-slide  {
      width: 400px;
      height: 400px;
      display: flex;
      align-items: flex-start;
      z-index: -4;
      bottom: 0%;
      background-position: 50%;
      background-size: cover;
      background-color: transparent;
     
      
    }
    .listen-here {
      position: absolute;
      bottom: -80px;
      width: 400px;
      left: 0%;
      font-family: 'chomsky';
  
    }
  
  }

  
  /* FOOTER
  =========================== */
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px;
  }
  
  .footer-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 24px;
  }
  
  .footer .scroll p::after {
    content: "";
    display: inline-block;
    border: 1px solid #fff;
    width: 60px;
    margin: 0 0 0 10px;
    transform: translateY(-4px);
    font-size: 100px;
  }

  button {
      position: fixed;
      bottom: 0%;
      left: 50%;
      transform: translateY(110px);
      padding: 10px 50px 10px 50px;
      background-color: transparent;
      cursor: pointer;
      color: white;
      font-family: 'chomsky';
      text-transform: lowercase;
      font-size: 64px;
      border-color: transparent;
     font-weight: 500;
  }
  button:hover {
    text-decoration: line-through;
    color: rgb(252, 65, 65);
  }
  
  .collection {
    width: 50%;
    height: 100vh;
    position: static;
    display: inline-block;
    margin-top: 100px;
    margin-left: 25%;
  }
  .collection-component h3{
    font-family: 'chomsky';
  }


  .shopify-buy_product_title h1 {
    font-size: 90px;
  }